/* Title Page */
#title{
    font-size: 40px;
    margin-top: -15px;
}

/* Container Design Title Page */
.divider-custom{
    height: 12px;
}

.divider-custom-icon{
    margin-top: -15px;
}

#icon{
    height: 20px;
}

/* Navigation Bar */
#mainNav{
    height: 60px;
}

.paginate{
    margin-left:1px ;
}

#container-right{
  margin-left: 570px;
  margin-top: -150px;	
}

#container-number, #container-customer, #container-nit, #fechaFacturaDeVenta, #container-date{
    width: 350px;
}

#numeroFacturaDeVenta, #clienteFacturaDeVenta, #nitFacturaDeVenta, #fechaFacturaDeVenta{
    width: 350px;
    height: 20px;
    font-weight: 100px;
    font-size: 16.5px;
    
}

#container-buy{
    margin-top: 10px;
    margin-left: 150px;
    float: left;
}

#container-sale{
    padding-top: 10px;
    margin-left: 150px;
    float: left;
}
#checkDevolucionDeCompra, #checkDevolucionDeVenta{
    width: 14px;
    height: 14px;
    padding-right: 20px;
    padding-top: -5px ;

}

.form-check-label{
    padding-top: -10px;
    font-size: 16.5px;
    color: #4C555A;
    font-weight: 50px;
    padding-left: 5px;
}

form .error {
    color: #ff0000;
  }